img.thumbnail {
    width: 40px;
    height: 40px;
}

#addModal {
    color: #1fa67b;
}

#addModal table {
    position: relative;
    margin: auto;
}

#addModal table input {
    border-radius: 5px;
    border: solid 1px #CCC;
    margin: 10px;
    padding: 3px 10px;
    color: #000;
}

#addModal table input[type="button"] {
    width: 94%;
    background: #1fa67b;
    color: #FFF;
}

#addModal table span {
    float: left;
    font-size: 12px;
    color: #f00;
    padding-left: 23px;
}